@import "tailwindcss";

@theme{

  --color-text: #15080c;
  --color-background: #fbeef2;
  --color-primary: #de2a60;
  --color-secondary: #4eaeb5;
  --color-accent: #cf687e;
}


.circle-clip{
  opacity: 1;
  clip-path: circle(95% at 25% 0);
}

.circle-clip-transparent{
  opacity: 0.5;
  clip-path: circle(95% at 35% 0);
}
